[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.1.4"
django-cors-headers = "==3.6.0"
djangorestframework = "==3.12.2"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"

[dev-packages]
coverage = "*"
ipdb = "*"

[requires]
python_version = "3.8"
